<section class=" description " id="description">
  <div class="description-image">
    <picture>
      <source
         media="(min-width:1158px)"
        srcset="./img/other_images/hero_girl_vegetable_desk-min.png    1x,
        ./img/other_images@2x/hero_girl_vegetable_desk@2x-min.png    2x"
      />
      <source
        media="(min-width:768px)"
        srcset="
          ./img/other_images/hero_vegetables_tab-min.png    1x,
          ./img/other_images/hero_vegetables_tab@2x-min.png 2x
                  "
                />

      <source
        media="(max-width:767px)"
        srcset="./img/other_images/hero_girl_vegetable_mob-min.png    1x,
          ./img/other_images@2x/hero_girl_vegetable_mob@2x-min.png    2x"
                />
                <img
                  src="./img/other_images/hero_girl_vegetable_desk-min.png "
                  alt="girl_vegetable"
                  width="335" 
                  height="452"
                  class="hero-girl_vegetable-image"
                />
              </picture>
  </div>
  <div class="container description-box">
    <h2 class="description-title">To order your <span class="description-text-wrap">vegetable</span> basket, simply follow these <span class="description-text-wrap">easy steps</span></h2>
    <h3 class="description-subtitle">Our baskets are assembled with care and delivered straight to your doorstep, so you can enjoy the taste of fresh fruit without ever leaving your home.</h3>
  </div>
    <ul class="description-chapters">
      <li class="description-chapter">
        <div>
          <div class="description-circle description-circle--big"><div class="description-circle description-circle--small"><p class="description-circle-number">1</p></div></div>
          
        </div>
        <p class="description-chapter-text">Just choose <span class="description-chapter-subtext">the vegetable</span> you want to order by clicking on the checkboxes <span class="description-chapter-subtext">next to it</span>.</p>
        
      </li>
      <li class="description-chapter"> 
        <div>
          <div class="description-circle description-circle--big"><div class="description-circle description-circle--small"><p class="description-circle-number">2</p></div></div>
          
        </div>
        <p class="description-chapter-text">Click on <span class="description-chapter-subtext">the basket</span> and fill out the form.</p>
      </li>
      <li class="description-chapter">
        <div>
          <div class="description-circle description-circle--big"><div class="description-circle description-circle--small"><p class="description-circle-number">3</p></div></div>
          
        </div>
        <p class="description-chapter-text">Sit back and relax! Your <span class="description-chapter-subtext">fresh vegetables</span> basket will be delivered.</p>
        
      </li>
    </ul>
  </div>
</section>