<header class="header">
<div class="container header-box">
  <div class="header-logo-box">
    <ul class="header-logo">
      <li class="header-logo-elem"></li>
      <li class="header-logo-elem"></li>
      <li class="header-logo-elem"></li>
      <li class="header-logo-elem"></li>
      <li class="header-logo-elem"></li>
      <li class="header-logo-elem"></li>
      <li class="header-logo-elem"></li>
      <li class="header-logo-elem"></li>
      <li class="header-logo-elem"></li>
    </ul>
    <a href="/" class="header-logo-text">
  Green.Harvest
</a>
  </div>
  <button class="header-hamburger" aria-label="Menu" header-hamburger >
  <span class="line line1"></span>
  <span class="line line2"></span>
  <span class="line line3"></span>
</button>
</div>
</header>
