<section class="hero">
  <div class="container hero-box">
    <h1 class="hero-title">organic vegetables to your diet today!</h1>
    <h2 class="hero-subtitle">Our expertly curated vegetable baskets are made with the freshest, highest quality vegetables available. Fresh Harvest Box has got you covered. Fresh, high-quality vegetables in expertly curated vegetable baskets delivered to you.</h2>
  </div>
  <picture>
                <source
                  media="(min-width:1158px)"
                  srcset="
                    ./img/other_images/hero_vegetables_desk-min.png    1x,
                    ./img/other_images/hero_vegetables_desk@2x-min.png 2x
                  "
                />

                <source
                  media="(min-width:768px)"
                  srcset="
                    ./img/other_images/hero_vegetables_tab-min.png    1x,
                    ./img/other_images/hero_vegetables_tab@2x-min.png 2x
                  "
                />

                <source
                  media="(max-width:767px)"
                  srcset=" ./img/other_images/hero_vegetables_mob-min.png    1x,
                  ./img/other_images@2x/hero_vegetables_mob@2x-min.png 2x"
                />
                <img
                  src="./img/other_images/hero_vegetables_desk-min.png"
                  alt="vegetables"
                  width="264"
                  height="260"
                  class="hero-vegetables-image"
                />
              </picture>
</section>
