<section class="reviews" id="reviews">
  <h2>
    reviews from our <span>customers</span>
  </h2>
  <p>Words of our customers: impressions and opinions about the quality of our services and the freshness of our products.</p>
    <ul class="reviews-boxes">
      <li class="reviews-box first">
        <picture>
          <source
                  media="(min-width:1158px)"
                  srcset="./img/other_images/rewiew1_desk-min.png    1x,
                  ./img/other_images@2x/rewiew1_desk@2x-min.png    2x"
                />
          <source
                  media="(min-width:768px)"
                  srcset="./img/other_images/rewiew1_tab-min.png    1x,
                  ./img/other_images@2x/rewiew1_tab@2x-min.png    2x"
                  />
          <source
                  media="(max-width:767px)"
                  srcset="./img/other_images/rewiew1_mob-min.png    1x,
                  ./img/other_images@2x/rewiew1_mob@2x-min.png    2x"
                  />
          <img 
            src="./img/other_images/rewiew1_desk-min.png"
            alt="Jonh_Wax"
            width="56"
            height="56"
            />
        </picture>
        <h3>John Wax</h3>
            <p>These vegetables are my secret to delicious and healthy meals. The quality is always at the highest level, the aroma and taste are enchanting. I advise every fan of real products!</p>
      </li>
      <li class="reviews-box second">
        <picture>
          <source
                  media="(min-width:1158px)"
                  srcset="./img/other_images/rewiew2_desk-min.png    1x,
                  ./img/other_images@2x/rewiew2_desk@2x-min.png    2x"
                />
          <source
                  media="(min-width:768px)"
                  srcset="./img/other_images/rewiew2_tab-min.png    1x,
                  ./img/other_images@2x/rewiew2_tab@2x-min.png    2x"
                  />
          <source
                  media="(max-width:767px)"
                  srcset="./img/other_images/rewiew2_mob-min.png    1x,
                  ./img/other_images@2x/rewiew2_mob@2x-min.png    2x"
                  />
          <img 
            src="./img/other_images/rewiew2_desk-min.png"
            alt="Jonh_Wax"
            width="56"
            height="56"
            />
        </picture>
            <h3>Victoria Romashenko</h3>
            <p>I love how fast and fresh the vegetables are delivered. Salads always turn out so appetizing, and soups are real masterpieces. The quality is impeccable!</p> 
          </li>
      <li class="reviews-box third">
        <picture>
          <source
                  media="(min-width:1158px)"
                  srcset="./img/other_images/rewiew3_desk-min.png    1x,
                  ./img/other_images@2x/rewiew3_desk@2x-min.png    2x"
                />
          <source
                  media="(min-width:768px)"
                  srcset="./img/other_images/rewiew3_tab-min.png    1x,
                  ./img/other_images@2x/rewiew3_tab@2x-min.png    2x"
                  />
          <source
                  media="(max-width:767px)"
                  srcset="./img/other_images/rewiew3_mob-min.png    1x,
                  ./img/other_images@2x/rewiew3_mob@2x-min.png    2x"
                  />
          <img 
            src="./img/other_images/rewiew3_desk-min.png"
            alt="Jonh_Wax"
            width="56"
            height="56"
            />
        </picture>
            <h3>Ihor Trachuk</h3>
            <p>Recently tried my fresh tomatoes and peppers - amazing! The authenticity of the taste, as if from the garden directly to my table. It is now my main vegetable supplier.</p> 
          </li>
    </ul>
</section>