<section class="vegetables" id="vegetables">
  <h2 class="vegetables-title">organic <span>vegetables</span></h2>
  <p>Our organic vegetables are hand-picked from local farms and delivered straight to your doorstep, ensuring that you get the freshest and most nutritious produce possible.</p>
  <ul class="vegetables-cards">
    <li class="vegetables-card">
      <h3>eggplant</h3>
      <p>60 USD / kg</p>
      <picture>
        <source
                  media="(min-width:1158px)"
                  srcset="./img/vegetables/eggplant-desk-min.png    1x,
                  ./img/vegetables@2x/eggplant-desk@2x-min.png    2x"
                />

                <source
                  media="(min-width:768px)"
                  srcset="./img/vegetables/eggplant-tab-min.png    1x,
                  ./img/vegetables@2x/eggplant-tab@2x-min.png    2x"
                />

                <source
                  media="(max-width:767px)"
                  srcset="./img/vegetables/eggplant-mob-min.png    1x,
                  ./img/vegetables@2x/eggplant-mob@2x-min.png    2x"
                />
                <img
                  src="./img/vegetables/eggplant-desk-min.png"
                  alt="eggplant"
                  width="280"
                  height="240"
                  class="vegetables-image"
                />
      </picture>
    </li>
    <li class="vegetables-card">
      <h3>leek</h3>
      <p>50 USD / kg</p>
      <picture>
        <source
                  media="(min-width:1158px)"
                  srcset="./img/vegetables/leek-desk-min.png    1x,
                  ./img/vegetables@2x/leek-desk@2x-min.png    2x"
                />

                <source
                  media="(min-width:768px)"
                  srcset="./img/vegetables/leek-tab-min.png    1x,
                  ./img/vegetables@2x/leek-tab@2x-min.png    2x"
                />

                <source
                  media="(max-width:767px)"
                  srcset="./img/vegetables/leek-mob-min.png    1x,
                  ./img/vegetables@2x/leek-mob@2x-min.png    2x"
                />
                <img
                  src="./img/vegetables/leek-desk-min.png"
                  alt="leek"
                  width="280"
                  height="240"
                  class="vegetables-image"
                />
      </picture>
    </li>
    <li class="vegetables-card">
      <h3>mushrooms</h3>
      <p>40 USD / kg</p>
      <picture>
        <source
                  media="(min-width:1158px)"
                  srcset="./img/vegetables/mushrooms-desk-min.png    1x,
                  ./img/vegetables@2x/mushrooms-desk@2x-min.png    2x"
                />

                <source
                  media="(min-width:768px)"
                  srcset="./img/vegetables/mushrooms-tab-min.png    1x,
                  ./img/vegetables@2x/mushrooms-tab@2x-min.png    2x"
                />

                <source
                  media="(max-width:767px)"
                  srcset="./img/vegetables/mushrooms-mob-min.png    1x,
                  ./img/vegetables@2x/mushrooms-mob@2x-min.png    2x"
                />
                <img
                  src="./img/vegetables/mushrooms-desk-min.png"
                  alt="mushrooms"
                  width="280"
                  height="240"
                  class="vegetables-image"
                />
      </picture>
    </li>
    <li class="vegetables-card">
      <h3>corn</h3>
      <p>60 USD / kg</p>
      <picture>
        <source
                  media="(min-width:1158px)"
                  srcset="./img/vegetables/corn-desk-min.png    1x,
                  ./img/vegetables@2x/corn-desk@2x-min.png    2x"
                />

                <source
                  media="(min-width:768px)"
                  srcset="./img/vegetables/corn-tab-min.png    1x,
                  ./img/vegetables@2x/corn-tab@2x-min.png    2x"
                />

                <source
                  media="(max-width:767px)"
                  srcset="./img/vegetables/corn-mob-1-min.png    1x,
                   ./img/vegetables@2x/corn-mob@2x-1-min.png    2x"
                />
                <img
                  src="./img/vegetables/corn-desk-min.png"
                  alt="corn"
                  width="280"
                  height="240"
                  class="vegetables-image"
                />
      </picture>
    </li>
    <li class="vegetables-card">
      <h3>sweet potatoes</h3>
      <p>50 USD / kg</p>
      <picture>
        <source
                  media="(min-width:1158px)"
                  srcset="./img/vegetables/potatoes-desk-min.png    1x,
                  ./img/vegetables@2x/potatoes-desk@2x-min.png    2x"
                />

                <source
                  media="(min-width:768px)"
                  srcset="./img/vegetables/potatoes-tab-min.png    1x,
                  ./img/vegetables@2x/potatoes-tab@2x-min.png    2x"
                />

                <source
                  media="(max-width:767px)"
                  srcset="./img/vegetables/potatoes-mob-min.png    1x,
                  ./img/vegetables@2x/potatoes-mob@2x-min.png    2x"
                />
                <img
                  src="./img/vegetables/potatoes-desk-min.png"
                  alt="potatoes"
                  width="280"
                  height="240"
                  class="vegetables-image"
                />
      </picture>
    </li>
    <li class="vegetables-card">
      <h3>carrot</h3>
      <p>40 USD / kg</p>
      <picture>
        <source
                  media="(min-width:1158px)"
                  srcset="./img/vegetables/carrot-desk-min.png    1x,
                  ./img/vegetables@2x/carrot-desk@2x-min.png    2x"
                />

                <source
                  media="(min-width:768px)"
                  srcset="./img/vegetables/carrot-tab-min.png    1x,
                  ./img/vegetables@2x/carrot-tab@2x-min.png    2x"
                />

                <source
                  media="(max-width:767px)"
                  srcset="./img/vegetables/carrot-mob-min.png    1x,
                  ./img/vegetables@2x/carrot-mob@2x-min.png    2x"
                />
                <img
                  src="./img/vegetables/carrot-desk-min.png"
                  alt="carrot"
                  width="280"
                  height="240"
                  class="vegetables-image"
                />
      </picture>
    </li>
  </ul>
</section>