.advert{
    background-color: white;
    height: 472px;
    padding: 80px 20px;
}
.advert-box-title{
    width: 335px;
    height: 102px;
    background-color: #576F35;
    border-radius: 12px;
}
.advert-title {
    font-family: var(--font-primary);

    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: white;
}
.advert-subtitle{
    font-family: var(--font-primary);

    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: black;
}