:root {
  /* font-family: Inter, Avenir, Helvetica, Arial, sans-serif; */
  --font-primary: 'Inter Tight', sans-serif;
  --font-secondary: 'Roboto', sans-serif;
}

body {
    font-family: var(--font-secondary);
  background-color: #576F35;

}
.container{
  padding: 80px 20px;
  margin: 0 auto;
}

