.hero{
  margin-bottom: 0;

}
.hero-box{
margin-bottom: 40px;
}
.hero-title{
font-weight: 600;
font-size: 48px;
line-height: 100%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: white;
margin-bottom: 20px;
}
@media only screen and (min-width: 375px) {
  .hero-title{
    font-size: 52px;

  }
}
.hero-subtitle{
  font-weight: 500;
font-size: 14px;
line-height: 143%;
color: white;
}
.hero-vegetables-image{
  width: 100%;
  height: auto;
  display: block;
}
