.mobmenu{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    top: 64px; 
    right: 0;
    height: calc(100vh - 64px);
    z-index: 3;
    opacity: 1;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
    background-color: #7A3145;
    transform: translateX(100%);
    transition: transform 0.3s ease;
    padding-top: calc(296px - 64px) ;
    padding-left: 100px;
    padding-right: 100px;
    background-color: #576F35;
}
.mobmenu.is-open {
  transform: translateX(0);
}
.mobmenu-btns{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-bottom: 180px;
}
.mobmenu-btns button{
    border: 1px solid white;
    border-radius: 12px;
    padding: 12px 16px;
    width: 118px;
    height: 44px;
    background-color: transparent;
}
.mobmenu-btns button:focus,
.mobmenu-btns button:hover{
    background-color: white;
    a{
        color: #7A3145;
    };
}
.mobmenu-btns button a{
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: center;
    color: white;
}
.mobmenu-shop-btn{
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 175px;
    height: 52px;
    background-color: #7A3145;
    border-style: none;
}
.mobmenu-shop-btn a{
    font-family: var(--font-primary);
font-weight: 600;
font-size: 18px;
line-height: 111%;
letter-spacing: -0.01em;
text-transform: uppercase;
color: white;

}