.order{
     padding: 80px 20px;
}
.order h2{
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 48px;
    line-height: 108%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: white; 
    margin-bottom: 20px; 
}
.order h2 span{
    color: #D4BFC4;
}
.order p{
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: white;
    margin-bottom: 40px;
}
.order-box{
    background-color: white;
    border-radius: 30px;
    padding: 40px 20px;
    margin-bottom: 20px;
}
.order-box h3{
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 28px;
    line-height: 100%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: black;
    margin-bottom: 40px;
}
.order-text-red{
    color: #7A3145;
}
.order-text-green{
    color: #576F35;
}

.order-form{
    border: 1px solid #858585;
    border-radius: 30px;
    padding: 14px 16px;
    width: 295px;
    height: 48px;
    margin-bottom: 16px;
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: left;
    color: black;
    opacity: 1; 
    transition: border 0.3s, box-shadow 0.3s;
}
input::placeholder,
textarea::placeholder {
    font-family: var(--font-primary);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    text-align: left;
    color: black;
    opacity: 1; 
    resize: none;
}
.order-form.active{
    border: 1px solid #7A3145;
}
.order-form:focus {
    outline: none;
    border: 1px solid #7A3145;
}
.order-form.success {
  border: 1px solid green;
}
.form-comment{
    min-height: 92px;
    margin-bottom: 20px;
    text-align: left;
}
.order-form-btn{
    border-radius: 30px;
    padding: 16px 129px;
    width: 295px;
    height: 52px;
    background: #7A3145;
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: white;
    border-style:none ;
}
.order-form-btn:hover, .order-form-btn:focus{
    box-shadow: none;
}
.order-toast-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background: #7A3145;
  color: white;
  padding: 12px 20px;
  border-radius: 10px;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s, transform 0.3s;
  transform: translateY(-20px);
  z-index: 1000;
}

.order-toast-message.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}
.order-image-box{
    width: 335px;
    height: 456px;
    background-color: #7A3145;
    padding: 40px 20px;
    border-radius: 30px;
}
.order-image{
    object-fit: cover;
    border-radius: 15px;
    margin-bottom: 20px;
}
.order-image-box p {
    font-family: var(--font-primary);
    font-weight: 700;
    font-size: 14px;
    line-height: 143%;
    color: #D4BFC4;
    margin-bottom: 16px;
}
.order-image-box .order-links{
    font-family: var(--font-primary);
    font-weight: 600;
    font-size: 18px;
    line-height: 111%;
    letter-spacing: -0.01em;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
}